<div class="main-content">
    <div class="main">
        <div class="top-content">
       <h1>投稿が完了しました</h1>
       </div>
       <div class="bottom-content">
        <%= link_to "投稿一覧へ戻る", '/posts' %>
        </div>
    </div>
</div>